// home page styling
.home-container {

    .hero-container {
        background-image: url(../../assets/images/rosie-header.jpeg);
        background-size: cover;
        height: 355px;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-family: 'CoolveticaRg';
            letter-spacing: 1px;
            font-weight: 100;
            font-size: 62px;
            color: #fefefe;
            text-shadow: 5px 5px 5px #444;
        }

    }

    // container to position items on entire page
    .page-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        // mission statement styling
        .mission-statement {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 950px;

            .mission-logo {
                img {
                    width: 355px;
                    padding-right: 30px;
                }
            }

            .statement-text {
                display: flex;
                flex-direction: column;
                font-weight: 400;
                justify-content: center;
                align-items: center;
                line-height: 30px;
                font-size: 18px;

                h2 {
                    color: #7a609b;
                    font-size: 30px;
                    padding: 20px;
                    font-family: 'CoolveticaRg';
                    letter-spacing: 1.5px;
                }

                .bold-text {
                    font-weight: bold;
                }
            }
        }

        // about summary styling
        .about-summary {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 975px;
            margin-top: 100px;

            img {
                height: 850px;
                margin-right: -150px;
            }

            .about-text {
                display: flex;
                flex-direction: column;
                font-weight: 400;
                justify-content: center;
                align-items: center;
                line-height: 30px;
                font-size: 18px;
                padding: 0 30px 10px 30px;
                color: #fefefe;
                background-color: #28282b;
                width: 500px;

                h2 {
                    color: #7a609b;
                    font-size: 30px;
                    font-family: 'CoolveticaRg';
                    letter-spacing: 1.5px;
                }

                .italic {
                    font-style: italic;
                }
            }
        }

        // events display section
        .events-display {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 120px;
            width: 950px;

            .events {
                margin-right: 30px;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;

                h2 {
                    color: #7a609b;
                    font-size: 30px;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                }

                h3 {
                    color: #444;
                    padding-bottom: 10px;
                    line-height: 25px;
                }

                .events-button {
                    color: #fefefe;
                    background-color: #7a609b;
                    border-radius: 30px;
                    padding: 10px 35px 10px 35px;
                    text-decoration: none;
                    font-weight: 600;
                    text-transform: uppercase;
                    transition: transform .2s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .img-container {
                img {
                    width: 450px;
                }
            }
        }

        // resources section
        .resources-display {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            width: 950px;

            .resources {
                margin-left: 30px;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;

                h2 {
                    color: #7a609b;
                    font-size: 30px;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                }

                h3 {
                    color: #444;
                    padding-bottom: 10px;
                    line-height: 25px;
                }

                .resources-button {
                    color: #fefefe;
                    background-color: #7a609b;
                    border-radius: 30px;
                    padding: 10px 35px 10px 35px;
                    text-decoration: none;
                    font-weight: 600;
                    text-transform: uppercase;
                    transition: transform .2s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .img-container2 {
                img {
                    width: 460px;
                }
            }
        }

        // take action section
        .take-action-section {
            margin-top: 120px;
            background-color: #7a609b;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 55px;
            height: 500px;
            width: 900px;

            h1 {
                color: #fefefe;
                font-size: 55px;
                text-transform: uppercase;
                text-shadow: 3px 3px #444;
            }

            h3 {
                color: #fefefe;
                width: 70%;
                text-shadow: 1px 1px #444;
                font-size: 18px;
            }

            a {
                margin-top: 20px;
                color: #444;
                text-decoration: none;
                background-color: #fefefe;
                border-radius: 30px;
                font-size: 15px;
                font-weight: 600;
                padding: 12px 30px 12px 30px;
                text-transform: uppercase;
                transition: transform .2s;

                &:hover {
                    transform: scale(1.1);
                }
            }

        }
    }
}